# Copia este archivo como ".env" en esta misma carpeta y rellena los valores.

# Contraseña para iniciar sesión en la interfaz web de code-server
CODE_SERVER_PASSWORD=

# Contraseña usada para operaciones sudo dentro del contenedor
CODE_SERVER_SUDO_PASSWORD=
